@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: slow-pan 25s infinite alternate ease-in-out;
}

@keyframes slow-pan {
  0% {
    background-position: 25% 75%;
    background-size: 120%;
  }
  100% {
    background-position: 75% 25%;
    background-size: 110%;
  }
}
